# the list of libraries needed
mcp[cli] #the MCP library;gives us FastMCP and all that makes my server speak the MCP protocol
requests #lets my .py code make HTTP calls to external APIs
uvicorn #web server running my python code
fastapi
starlette